[Unit]
Description=First time setup script for this Raspberry Pi
Before=lightdm.service

[Service]
ExecStart=/usr/local/sbin/pi-install
Type=oneshot
TimeoutSec=600

[Install]
WantedBy=lightdm.service

